.photo {
    background-color: rgb(255, 227, 247);
    width: 1280px;
    height: 200px;
    align-content: end;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(147, 10, 113);
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
#kirby {
    width: 400px;
    height: 200px;
    margin-left: 200px;
}