.pero {
    background-color: rgba(235, 122, 175, 0.727);
    
}
#bg-body-tertiary{
    background-color: rgba(235, 122, 175, 0.418);
}

.button2 {
    align-items: center;
    appearance: none;
    background-color: rgba(235, 122, 175, 0.727);
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(235, 122, 175, 0.418);
    box-shadow: rgba(187, 30, 151, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #9a397a 0 -3px 0 inset;
    box-sizing: border-box;
    color: #f9e8f5;
    cursor: pointer;
    display: inline-flex;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
   
  }
  
  .button:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .whotext{
    margin-left: 120px;
    color: rgb(254, 225, 240);
    margin-top: 10px;
  }

  .contactus{
    margin-left: 30px;
    color: rgb(254, 225, 240);
    margin-top: 10px;
  }